.profile {
    width: 45%;
    margin-left:28%;
    height: 60%;
    background-color: white;
    border-radius: 1%;
    margin-top: 2%;
    padding-bottom: 2%
}

.profile_header {
    font-size: 30px;
    padding-top: 3%;
    margin-left: 7%;
    color: black;
    text-align: left;
}

.left_text {
    text-align: left;
    color: rgb(94, 94, 94);
    margin-left: 8%;
}

.email {
    text-align: left;
    font-size: 20px;
    margin-top: 2%;
    color: rgb(55, 55, 55);
    margin-left: 8%;
    margin-bottom: 2%
}

.nickname {
    font-size: 22px;
    color: black;
    margin-left: 0%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: left;
    width: 70%;
    margin-top: 2%;
    margin-left: 8%
}